@{
    ViewData["Title"] = "تظیمات پست ها";
}


@model PagedResult<Post>
<section class="news-details-area pb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="news-details">
                    <div class="comments-area">
                        <div class="comment-respond">
                            <h3 style="margin-bottom:25px" class="comment-reply-title">حذف و ویرایش پست</h3>
                            <table class="table table-bordered table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <th>عکس</th>
                                        <th>عنوان</th>
                                        <th>نویسنده</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Data)
                                    {
                                        <tr>
                                            <td>@item.id</td>
                                            <td>
                                                <a asp-action="postshowbridge" asp-controller="post" asp-route-id="@item.id">
                                                    <img width="159" height="79" src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.mainImg)}")" />
                                                </a>
                                            </td>
                                            <td><a asp-action="postshowbridge" asp-controller="post" asp-route-id="@item.id">@item.topic</a></td>
                                            <td>
                                                <a asp-action="showprofile" asp-controller="account" asp-route-id="@item.applicationUser.Id">
                                                    @($"{item.applicationUser.firstName} {item.applicationUser.lastName}")
                                                </a>
                                            </td>
                                            <td>
                                                <button id="postdeletebtn" postId="@item.id" class="btn btn-danger">حذف</button>
                                                <a asp-action="postupdate" asp-controller="admin" asp-route-id="@item.id"
                                                   style="margin-right:10px" class="btn btn-warning">ویرایش</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<cs-pager asp-action="postoptions" asp-controller="admin"
          cs-pager-li-current-class="page-item active"
          cs-pager-li-other-class="page-item"
          cs-pager-li-non-active-class="page-item disabled"
          cs-pager-link-current-class="page-link"
          cs-pager-link-other-class="page-link"
          cs-paging-pagenumber="@Model.PageNumber"
          cs-paging-totalitems="@Model.TotalItems"
          cs-paging-pagesize="@Model.PageSize"
          asp-route-listId=""
          asp-route-sortmode="">
</cs-pager>

<div class="modal fade" id="postdeletemodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:red">
                <h3>حذف پست</h3>
            </div>
            <div class="modal-body">
                <p>آیا مایل به حذف پست هستید؟</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">خیر</button>
                <a href="" id="postdeletebtnconfirm" class="btn btn-success" style="margin-right:10px">بله</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(postdeletebtn).click(function () {
        var postId = $(this).attr("postId")

        $(postdeletemodal).modal()

        $(postdeletebtnconfirm).attr("href", `/post/postdelete?id=${postId}`)
    })
</script>
