
@{
    ViewData["Title"] = "اضاف، حذف و ویرایش تگ ها";
}

@model PagedResult<Tag>
<section class="news-details-area pb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="news-details">
                    <div class="comments-area">
                        <div class="comment-respond">
                            <h3 style="margin-bottom:25px" class="comment-reply-title">افزودن برچسب جدید</h3>
                            <form asp-action="taginsert" asp-controller="post" class="comment-form" novalidate="novalidate">

                                <p style="margin-bottom:50px" class="comment-form-email">
                                    <label>نام انگلیسی برچسب</label>
                                    <input name="Ename" type="text">
                                </p>
                                <p style="margin-bottom:50px" class="comment-form-email">
                                    <label>نام فارسی برچسب</label>
                                    <input name="Pname" type="text">
                                </p>

                                <div class="modal fade" id="taginsertmodal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header" style="background-color:red">
                                                <h3>ثبت برچسب</h3>
                                            </div>
                                            <div class="modal-body">
                                                <p>آیا مایل به ثبت برچسب هستید؟</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-danger" data-dismiss="modal">خیر</button>
                                                <button class="btn btn-success" style="margin-right:10px">بله</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <p class="form-submit">
                                <input type="submit" id="taginsertbtn" class="submit" value="ثبت برچسب">
                            </p>
                        </div>

                        <div class="comment-respond">
                            <h3 style="margin-bottom:25px" class="comment-reply-title">حذف و ویرایش برچسب</h3>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <th>نام فارسی</th>
                                        <th>نام انگلیسی</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Data)
                                    {
                                        <tr>
                                            <td>@item.id</td>
                                            <td>@item.Pname</td>
                                            <td>@item.Ename</td>
                                            <td>
                                                <button id="tagdeletebtn" tagId="@item.id" class="btn btn-danger">حذف</button>
                                                <a asp-action="tagupdate" asp-controller="admin" asp-route-id="@item.id"
                                                   style="margin-right:10px" class="btn btn-warning">ویرایش</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <cs-pager asp-action="tagoptions" asp-controller="admin"
              cs-pager-li-current-class="page-item active"
              cs-pager-li-other-class="page-item"
              cs-pager-li-non-active-class="page-item disabled"
              cs-pager-link-current-class="page-link"
              cs-pager-link-other-class="page-link"
              cs-paging-pagenumber="@Model.PageNumber"
              cs-paging-totalitems="@Model.TotalItems"
              cs-paging-pagesize="@Model.PageSize"
              asp-route-listId=""
              asp-route-sortmode="">
    </cs-pager>
</section>

<div class="modal fade" id="tagdeletemodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:red">
                <h3>حذف برچسب</h3>
            </div>
            <div class="modal-body">
                <p>آیا مایل به حذف برچسب هستید؟</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">خیر</button>
                <a href="" id="tagdeletebtnconfirm" class="btn btn-success" style="margin-right:10px">بله</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(taginsertbtn).click(function () {
            $(taginsertmodal).modal()
        })

        $(tagdeletebtn).click(function () {
            var tagId = $(this).attr("tagId")

            $(tagdeletemodal).modal()
            $(tagdeletebtnconfirm).attr("href", `/post/tagdelete?id=${tagId}`)
        })
    })
</script>
